* {
  box-sizing: border-box;
  margin: auto;
}
body {
  background: rgb(176, 17, 191);
  background: linear-gradient(
    90deg,
    rgba(176, 17, 191, 1) 0%,
    rgba(9, 9, 121, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form {
  width: 40vw;
  height: 80vh;
  margin-top: 10vh;
  background-color: white;
}

.header {
  background-color: black;
  color: white;
  height: 8vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 8vh;
}

.main-container{
  display:flex;
  flex-direction: column;
  padding: 50px 70px;
}

.form-item{
  width: 100%;
  padding-bottom: 20px;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 16px;
}

label{
  width: 100%;
}
.form-item>input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
}
.form-item>div{
  width: 100%;
}
select{
  height:50px;
  width: 32%;
  text-align: center;
}
button{
  width: 200px;
  height: 50px;
  border-radius: 50px;
margin: 0;
border:none;
background-color: rgb(252, 66, 79);
color: white;
text-transform: uppercase;
}