* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.left-content {
  height: 100vh;
  position: fixed;
  background-color: black;
  width: 15vw;
  border-right: solid grey 1px;
  color: aliceblue;
}
.logo {
  text-align: center;
  font-size: 50px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  font-size: 16px;
}
.menu ul {
  padding: 0;
}
.menu li {
  list-style: none;
  height: 60px;
  display: flex;
  padding-bottom: 20px;
  align-items: center;
}
.menu-active::before {
  content: " ";
  width: 3px;
  height: 80%;
  border-radius: 5px;
  margin: 0 20px;
  background-color: red;
}
.menu li::before {
  content: " ";
  width: 3px;
  height: 80%;
  border-radius: 5px;
  margin: 0 20px;
}
.menu li:hover::before {
  content: " ";
  background-color: red;
  width: 3px;
  height: 80%;
  border-radius: 5px;
  margin-right: 20px;
}
.menu li > div {
  padding-left: 20px;
}
.main-content {
  width: 85vw;
  margin-left: 15vw;
  background-color: black;
  color: white;
  min-height: 100vh;
}
.header {
  position: fixed;
  height: 10vh;
  width: 85vw;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  padding: 0 50px;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: solid grey 1px;
}
.search {
  width: 300px;
  height: 60%;
  display: flex;
  font-size: 20px;
  align-items: center;
  background-color: aliceblue;
  color: black;
  padding: 0 10px;
  border-radius: 5px;
}
.list-items {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: 100%;
  padding: 50px;
  padding-top: 15vh;
}
@media (max-width: 1023px) {
  .list-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu ul {
    padding: 0;
  }
  .menu li {
    justify-content: center;
  }
  .menu li > div {
    display: none;
  }
  .search {
    width: 30%;
  }
  .search > div {
    display: none;
  }
  .menu li::before {
    width: 0;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .list-items {
    grid-template-columns: 1fr;
  }
  .name {
    display: none;
  }
  .search {
    width: 100%;
  }
}
.item {
  width: 100%;
}
.item img {
  display: block;
  width: 100%;
}
