body{
	width: 1000px;
	margin:auto;
}
#banner img{
	width: 100%;
}
h1{
	text-align: center;
}
#main-content{
	width: 100%;	


}
#main-content img{
	width: 30%;
	border: 5px solid white;
	margin-left: 1.5%;


}
#main-content img:hover{
	border:5px solid #003399;

}