*{
	box-sizing: border-box;
}
body{
	width: 1000px;
	margin:auto;
}
h1{
	text-align: center;
}
#banner img{
	width: 100%;
}
#main-content{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
#main-content img{
	width: 100%;
	border: 5px solid white;
}

#main-content img:hover{
	border:5px solid #003399;
}