*{
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	width: 1000px;
	margin: auto;
	line-height: 1;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #e7e7e7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.nav-bar{
	display: block;
	width: 1000px;
	background-color: #bd3829;
	line-height: 40px;
	color: white;
}
.nav-bar ul:first-child{
	padding-left: 5px;
}
.nav-bar li{
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}
a,a:hover,a:visited{
	text-decoration: none;
}
.nav-bar a{
	color: white;
}
.nav-bar a:hover{
	color: #fffb9c;
}
.menu-active{
	color: #fffb9c !important;
}
.sub-menu{
	position: relative;
}
.sub-menu>ul{
	display: none;
	position: absolute;
	width: 180px;
	color: #3b5998;
    text-align: left;
    background-color: white;
    left:-16px;
    box-shadow: 0 0 5px 0 rgba(36,66,106,.3);
}
.sub-menu li{
	display: block;
	padding: 10px 10px;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid #c9cacc;
}
.sub-menu:hover >ul{
	display: block;
}
.sub-menu>ul>li>ul{
	display: none;	
	position: absolute;
	width: 180px;
	top: 0px;
	left:180px;
	color: #3b5998;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(36,66,106,.3);
}
.sub-menu>ul>li:hover >ul{
	display: block;
}
.main-container{
	display: grid;
	grid-template-columns: 4fr 1fr;
	background-color: white;
}
.right-content{
	padding-top: 10px;
}
.search-box{
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.search-box input{
	width: 67%;
	margin: 0;
}
.search-box button{
	width: 30%;
	margin: 0;
}
.mini-menu{
   border: solid 1px #ccc;
   margin-bottom: 6px;
}
.mini-menu li{
	line-height: 28px;
	padding-left:10px;
	font-size: 12px;
	cursor: pointer;
	color: #525252;
}