*{
	box-sizing: border-box;
}
body{
	width: 1000px;
	margin: auto;
}
.wrapper{
	width: 400px;
	margin: auto;
	height: 100vh;
}
#previous{
	display: block;
	width: 100%;
	height: 60px;
	border: solid 1px black;
	border-bottom: none;
	text-align: right	;
	font-size: 50px;
	font-weight: bold;
}
#display{
	display: block;
	border: solid 1px black;
	border-top: none;
	width: 100%;
	height: 60px;
	text-align: right	;
	font-size: 50px;
	font-weight: bold;
}
#cal{
	position: absolute;
	z-index: 1000;
	font-size: 50px;
	font-weight: bold;
	top: 30px;	
}
#main{
	width: 100%;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#main>div button{

	display: block;
	width: 100%;
	height: 100%;
	font-weight: bolder;
	font-size: 16px;
	background-color: #fcfcfc;
}
#main>div button:hover{
	cursor: pointer;
	background-color: #b8b8be !important;
}
#equal{
	background-color: #838aca !important;
}
#calButton{
	background-color: #ededf1 !important;
}