*{
	box-sizing: border-box;
}
body{
	width: 1000px;
	margin: auto;
}
#display{
	display: block;
	width: 400px;
	height: 100px;
	font-size: 50px;
	font-weight: bold;
}
#main{
	width: 400px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#main<div button{
	display: block;
	width: 100%;
}